$progressBarBackgroundColor: #fff;
$progressBarSmallBackground: transparentize(black, .8);
$progressBarActiveColor: #1FCC3B;
$progressBarColor: transparentize(black, .9);
$progressBarBorderColor: #fff;
$progressBarBorderRadius: 10px;
$dividerWidth: 1px;
$gridUnit: 1px;

.ui-progress-bar {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-radius: $progressBarBorderRadius;

  &.ui-progress-bar--small {
    background-color: $progressBarSmallBackground;
    height: 10px;

    .ui-progress-bar--value {
      border-radius: $progressBarBorderRadius;
    }
  }

  &.ui-progress-bar--medium {

    //background-color: $progressBarBackgroundColor;
    height: 15px;
  }

  &.ui-progress-bar--border {
    .ui-progress-bar--inner-container {
      left: $gridUnit;
      right: $gridUnit;
      top: $gridUnit;
      bottom: $gridUnit;
    }

    border: 1px solid $progressBarColor;
  }


  .ui-progress-bar--inner-container {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: $progressBarBorderRadius;
    overflow: hidden;

    .ui-progress-bar--value {
      display: flex;
      height: 11px;
      background-color: $progressBarActiveColor;
      transition: width ease-in-out .5s;
    }
  }

  .ui-progress-bar--separator-container {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: $progressBarColor;
    box-sizing: border-box;

    left: $gridUnit;
    top: $gridUnit;
    bottom: $gridUnit;
    right: $gridUnit;

    .ui-progress-bar--separator {
      height: 100%;
      width: $dividerWidth;
      background-color: $progressBarBackgroundColor;
      z-index: 1;
    }
  }
}
