<ng-container *ngIf="showText">
  <div class="ui-progress-bar--text-container">
    <div class="ui-progress-bar--value-container">
      <span class="ui-progress-bar--text-value-label">Your points:</span>
      <span class="ui-progress-bar--text-value">{{value}}</span>
    </div>
    <div class="ui-progress-bar--left-container">
      <span class="ui-progress-bar--left-value">{{maxValue - value}} points to next level</span>
    </div>
  </div>
</ng-container>
<div [ngClass]="classes">
  <ng-container *ngIf="separated">
    <div class="ui-progress-bar--separator-container">
      <div class="ui-progress-bar--separator" *ngFor="let one of _slices"></div>
    </div>
  </ng-container>
  <div class="ui-progress-bar--inner-container">
    <div class="ui-progress-bar--value" [style.width]="progress + '%'"></div>
  </div>
</div>
