$progressBarBackgroundColor: #fff;
$progressBarActiveColor: #1FCC3B;
$progressBarColor: transparentize(black, .9);
$progressBarBorderColor: #fff;
$progressBarBorderRadius: 10px;
$dividerWidth: 1px;
$gridUnit: 1px;

.ui-progress-bar {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-radius: $progressBarBorderRadius;

  &:not(.ui-progress-bar--separated) {
    .ui-progress-bar--value {
      border-radius: $progressBarBorderRadius;
    }
  }

  &.ui-progress-bar--small {
    height: 10px;

    .ui-progress-bar--value {
      height: 6px;
    }
  }

  &.ui-progress-bar--medium {
    height: 15px;

    .ui-progress-bar--value {
      height: 11px;
    }
  }

  &.ui-progress-bar--large {
    height: 18px;

    .ui-progress-bar--value {
      height: 14px;
    }
  }

  &:not(.ui-progress-bar--border):not(.ui-progress-bar--separated) {
    .ui-progress-bar--inner-container {
      background-color: $progressBarColor;
    }
  }

  &.ui-progress-bar--border {

    border: 1px solid $progressBarColor;
  }


  .ui-progress-bar--inner-container {
    position: absolute;
    left: $gridUnit;
    right: $gridUnit;
    border-radius: $progressBarBorderRadius;
    overflow: hidden;

    .ui-progress-bar--value {
      display: flex;
      background-color: $progressBarActiveColor;
      transition: width ease-in-out .5s;
    }
  }

  &:not(.ui-progress-bar--border) {
    .ui-progress-bar--separator-container {
      left: 2px;
      top: 2px;
      bottom: 2px;
      right: 2px;
    }
  }

  &.ui-progress-bar--border {
    .ui-progress-bar--separator-container {
      left: $gridUnit;
      top: $gridUnit;
      bottom: $gridUnit;
      right: $gridUnit;
    }
  }


  .ui-progress-bar--separator-container {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: $progressBarColor;
    box-sizing: border-box;

    .ui-progress-bar--separator {
      height: 100%;
      width: $dividerWidth;
      background-color: $progressBarBackgroundColor;
      z-index: 1;
    }
  }
}

.ui-progress-bar--text-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .ui-progress-bar--text-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-left: 5px;
  }
}

.ui-progress-bar--left-value {
  color: #5B6273;
}
